
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoejkmzyHcN4VmssORqOq_3-ccrpjAvf5i-g&usqp=CAU);
    margin-top: 25px;
   }
#sub_link{
    font-weight: bold;
    margin-top: 25px;
    background-color: rgb(222, 225, 228);
    box-shadow: 10px 10px 10px rgb(156, 152, 156);
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: underline;
    box-sizing: border-box;
}
h2{
   text-align: center;
}
li{
   padding: 5.5px;
}
.sub_name{
    padding:7px;
    
}
#title{
   font-weight: bold;
   text-transform: uppercase;
   /* text-align: center; */
   /* width: 80vw; */
   font-size: 21px;

}
.G{
   color:red;
}
.P{
   color: #00f;
}
.g{
   color: green;
}
#branch_name{
   margin-top: 10px;
   text-align:center;
   font-weight: bold;
   font-size:18px;
   color: rgb(88, 2, 24);
}
hr{
    background-color: red;
    width: 40%;
    height:0.15em;
    margin-top: 30px;
    margin: 0 30% 0 30%;
}
/* #title{
    text-align: center;
    width: 100%;
    font-size: 30px;
} */
/* .downlode-image{
   width: 300px;
    height: auto;
    margin-left: 20px;
    
} */
.syllabus{
   margin-top: 30px;
}
/* #toTop.show{
   right: 8px;
   opacity: 1;
} */

